<html>
<head>
<title>{{ page.title }} | Creative Commons</title>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/style.css" />
	{% if page.downloadurl %}
		{% if page.repourl %}
			<style>#downloadbuttonholder { width: 440px; }</style>
		{% else %}
			<style>#downloadbuttonholder { width: 220px; }</style>
		{% endif %}
	{% elsif page.repourl %}
		<style>#downloadbuttonholder { width: 220px; }</style>
	{% endif %}

	{% if page.repourl contains 'layervault.com' %}
		<style>.downloadbutton.repository {background-image: url("/images/layervault.png")}</style>
	{% endif %}
</head>
<body>

{% include header.html %}

<h1><a href="/">Creative Commons Resource Archive</a></h1>
<h2><a href="/all">All Resources</a></h2>

<p>{{currentpage}}</p>

<h3 style="margin-left: auto; margin-right: auto; ">{{ page.title }}</a></h3>

	{% if page.downloadurl %}
		<a href="{{ page.downloadurl }}" target="_blank">
	{% endif %}

	{% if page.image-full %}
		<div id="preview" style="background-image: url({{page.image-full}})"></div>
	{% else %}
		<div id="preview"></div>
	{% endif %}

	{% if page.downloadurl %}
		</a>
	{% endif %}

<div id="downloadbuttonholder">

	{% if page.downloadurl %}
		<a href="{{ page.downloadurl }}" target="_blank">
		<div class="downloadbutton">
		{% if page.medium == "website" %} 
			<p>Visit</p>
		{% else %}
			<p>Download</p>
		{% endif %}
		</div>
		</a>
	{% endif %}

	{% if page.repourl %}
		<a href="{{ page.repourl }}" target="_blank">
		<div class="downloadbutton repository">
		<p>Repository</p>
		</div>
		</a>
	{% endif %}

</div>
<div style="clear: both;"></div>	
{{content}}
</body>
</html>
